.menuTask,
.rightPointing{
    position: absolute;
    background: #252930;
    padding: 0rem 2rem;
    padding-top: 1rem;
    box-shadow: 10px 10px 101px 35px rgba(0,0,0,0.23);
    margin-left: -1.7rem;
    margin-top: 2.5rem;
    z-index: 10;
    cursor: initial;
    textarea{
        background: none;
        color: white;
        font-size: 1rem;
        border: none;
        outline: none;
        resize: none;
        z-index: 10;
        position: relative;
    }

    div{
        margin: .7rem 0rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            width: 40%;
            background: none;
            color: white;
            border: 1px solid white;
            border-radius: .3rem;
            padding: .3rem 0rem;
            font-size: 1.24rem;
            position: relative;
            z-index: 11;
            cursor: pointer;
        }

        #edit{
            background: #363A41;
        }

        #delete{
            background: #463C42;
        }
    }

    & > button{
        width: 100%;
        background: #8A3A3A;
        color: white;
        border: 1px solid white;
        border-radius: .3rem;
        padding: .3rem 0rem;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 1rem;
        position: relative;
        z-index: 11;
    }
}

.menuTask .menu-arrow{
    background: #252930;
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin: 0 !important;
    left: .6rem;
    top: -1.5rem;

    transform: rotate(45deg);
}

.centered{
    position: absolute !important;
    margin-left: -9rem !important;

    .menu-arrow{
        margin-left: calc(50% - 2.5rem) !important;
    }
}

.onScroll-desktop.rightPointing{
    margin-left: -2.1rem;
    margin-top: 2rem;
}

.onScroll-desktop.topPointing{
    margin-top: -18.8rem;
    margin-left: -1.835rem;
}

.onScroll-desktop.leftPointing{
    margin-left: -18.3rem;
    margin-top: 2rem;
}

.leftPointing{
    margin-left: -17.9rem;
}

.leftPointing .menu-arrow{
    left: initial !important;
    right: .6rem;
}

.topPointing{
    // margin-top: -18.7rem !important;
    margin-top: -18.5rem;
    margin-left: -1.45rem;
}

.topPointing .menu-arrow{
    top: 15.4rem !important;
}

@media screen and (min-width:641px) and (max-width:1090px){
    .menuTask{
        margin-top: 1.5rem;
        margin-left: -1.2rem;
    }

    .leftPointing{
        margin-left: -17.3rem !important;
    }
}

@media screen and (min-width:1400px){
    .menuTask{
        textarea{
            font-size: 1.3rem !important;
        }

        div button{
            font-size: 1.4rem !important;
        }

        & > button{
            font-size: 1.3rem !important;
        }
    }

    .onScroll-desktop.rightPointing{
        margin-left: -2.15rem !important;
        margin-top: 1.9rem !important;
    }

    .onScroll-desktop.leftPointing{
        margin-left: -23.3rem !important;
        margin-top: 2.1rem !important;
    }

    .onScroll-desktop.topPointing{
        margin-top: -22.5rem !important;
        margin-left: -1.9rem !important;
    }

    .rightPointing{
        margin-left: -1.55rem;
        margin-top: 2.5rem;
    }

    .leftPointing{
        margin-left: -22.7rem !important;
    }

    .topPointing{
        margin-top: -21.8rem !important;
        margin-left: -1.25rem !important;
    }
    
    .topPointing .menu-arrow{
        top: 18.9rem !important;
    }
}

@media screen and (max-width:640px){
    .menuTask{
        margin-left: -1.2rem;
    }
    
    .leftPointing,.rightPointing,.centered{
        margin-top: 1.5rem !important;
    }

    .topPointing{
        margin-top: -19rem !important;
    }

    .leftPointing{
        margin-left: -17.3rem !important;
    }
}