@import '../../scss/initial/variables.scss';

#site-content{
    .react-form{
        display: flex;
        flex-direction: column;
        height: fit-content;
        input::placeholder{
            color: rgba(255,255,255,0.8);
        }
        input:first-of-type{
            margin-top: 0rem;
        }
        input{
            font-weight: 300;
            color: rgba(255,255,255,0.8);
            margin-top: 2.5rem;
            background: none;
            border: none;
            border-bottom: 2px solid rgba(255,255,255,0.7);
            padding: .5rem .1rem;
            font-size: 1.4rem;
            outline: none;
        }

        #submit{
            margin-top: 3rem;
            font-size: 1.7rem;
            font-weight: 100;
            padding: .6rem 0rem;
            padding-bottom: .7rem;
            border-radius: 4px;
            border: 1px solid rgba(255,255,255,0.7);
            transition-duration: 100ms;
            &:hover{
                cursor: pointer;
                color: #4787F8;
                background: rgba(255,255,255,0.9);
            }
        }

        #suggest-link{
            margin-top: 1rem;
            text-align: right;
            font-family: $default-font-family;
            font-size: 1.2rem;
        }
    }
}