@import './variables.scss';

// short way to make a responsive @media
@mixin responsive($width,$height) {
    $w: initial;
    $h: initial;

    @if $width{
        $w: $width;
    }
    @if $height{
        $h: $height;
    }
    
    @media all and (max-width:$w) and (max-height:$h) {
        @content;  
    }
}

@mixin view-fullscreen($bool){
    @if $bool == 1{
        height: calc(100vh - 22px);
    }

    @else if $bool == 0{
        height: fit-content !important;
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }
}

@mixin useBackground($bool) {
    @if $bool == 1{
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
        background-image: $background-image;
    }
    @else if $bool == 0{
        background-repeat: initial;
        background-size: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-image: none;
    }
}

%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin include-header($type){ // mobile or desktop
    @if $type == "desktop"{
        padding-left: calc(12rem + 3rem);
    }
    @else if $type == "mobile"{
        padding-top: 6rem;
    }
}

@mixin exclude-header($type){ // mobile or desktop
    @if $type == "desktop"{
        padding-top: 0rem !important;
    }
    @else if $type == "mobile"{
        padding-left: 3rem !important;
    }
}

@mixin set-mobile-mode() {
    body{
        border-width: 0px !important;
    }

    #root{
        padding: 0rem !important;
        width: 100% !important;
        height: 100% !important;
    }

    #site-content{
        padding-left: 0em;
        //padding-left: $default-site-content-padding !important;

        width: 100% !important;
        height: 100% !important;

        // div{
        //     height: 100vh !important;
        // }
    }
    @include set-header-mobile();
}

@mixin set-header-mobile() {
    #site-header{
        left: 0;
        top: 0;
        background: none;
        height: fit-content;
        #logo-shadow{
            filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.3));
        }
        #bars{
            cursor: pointer;
            display: block;
            position: fixed;
            z-index: 20;
            right: 1rem;
            top: 1rem;
            margin-right: .4rem;
            .bar{
                margin-top: 5px;
                width: 1.8rem;
                height: 3px;
                background-color: white;
            }
        }
        #nav-checkbox:checked ~ #bars{
            .bar1{
                position: relative;
                transform: rotate(45deg) !important;
                top: 8px;
            }

            .bar2{
                transform: rotate(-45deg) !important;
            }

            .bar3{
                display: none !important;
            }
        }
        #nav-checkbox:checked ~ nav{
            padding-top: 4rem;
            padding-bottom: 2rem;
            top:-2rem;
            z-index: -10;
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
    
            height: fit-content;
    
            background-color: $default-dark-color;
    
            ul{
                li{
                    width: 100%;
                }
            }
        }
        #logo{
            height: 5.5rem;
            width: 100vw;
            background-image: none;
            background-color: $default-dark-color;
            clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 94%);
            p{
                position: relative;
                left: 0px;
                top: 1rem;
                width: 100%;
                text-align: center;
            }
        }
        nav{
            height: 22.5rem;
            display: none;
            flex-direction: column;
            justify-content: center;
            ul{
                li{
                    padding-top: .7rem;
                    padding-bottom: .7rem;
                    width: 12rem;
                    display: flex;
                    justify-content: center;
                    a{
                        padding-top: .3rem;
                        padding-bottom: .3rem;
                        width: 100%;
                        text-align: center;
                        font-size: $default-header-li-font-size;
                   }
                }
                .current a,li a:hover{
                    background-color: rgba(255,255,255,0.1);
               }
            }
        }
    }
}