// font
$default-font-color:white;
$default-font-size: 12px;
$default-font-weight: 100;
$default-link-font-family:'Noto Serif', serif;
$default-font-family:'Muli', sans-serif;
$second-font-family:'Roboto', sans-serif;
$default-line-height:1.5;
$default-logo-font-size:1.7rem;
$default-header-li-font-size:18px;

// layout variables
$default-site-padding: 6px;
$default-site-content-padding: 3rem;
$layout-background-color: #0554F2;
$layout-background-border-color: #044BD9;
$layout-border-size: 5px;

// asset variables
$background-image: url(../../assets/background.png);
$header-svg: url(../../assets/header.svg);
$logo-svg: url(../../assets/logo.svg);

// colors
$default-dark-color:#262626;